body {
font-family: "Trebuchet MS", Tahoma, Arial, Verdana, sans-serif;
background: #7d97ff;
font-size: medium;
}

a{ 

text-decoration: none;
}


/* title bar style */

div#titlebar {
position: fixed;

height: 114px;
top: 0;
left: 0;
right: 2em;
overflow: hidden;
border-bottom: 1px solid grey;
background: #7d97ff;

z-index: 5;
}


span#pagetitle {
overflow: hide;
color: grey;

}
img#titleimage {
}

/* side bar style */
div#sidebar {

z-index: 6;
width: 10em;
position: fixed;
height: 100%;
background: #7d97ff;
top: 114px;
left: -1px;
text-align: center;
padding-top: 2em;
color: grey;
font-weight: bold;
border-right: 1px solid grey;


}

div#sidebar>a { 

display: block;

color: #ffca32;
margin: 0.1em;

 }

div#sidebar>a:hover{ 
background: #ffca32;
color: #7d97ff;
 }

iframe#loginBox {

border: none;
width: 7em;
height: 6em;


}

form#loginBoxForm{ 
font-size: 0.75em;

}
.textfield{
border: #26a solid 1px;
}

/* main area style */
div#main {
position: absolute;
height: 100%;

left: 8em;
right: 2em;
background: #c3cef9;
padding: 2em;
top: 115px;
border-right: 1px solid grey;
}
div#main>a{ 
color: blue;
 }
/*extension list style*/
iframe#extensionlist{
position: relative;
left: 5em;
top: 2em;
height:80%;
width: 100%;
background: #c3cef9;
border: 0;

}








