div#submitError
{ 
color: red;
display: none;
font-size: 0.75em;
}
div#passwordMatchError
{ 
color: red;
display: none;
font-size: 0.75em;
}
div#emailMatchError
{ 
color: red;
display: none;
font-size: 0.75em;
}
div#emailValidError
{ 
color: red;
display: none;
font-size: 0.75em;
}

form#registrationForm
{ 

font-size:0.75em;

}

div.input
{ 
display: table-row;

}
span.inputLabel
{ 
display:table-cell;
width: 15ex;

}









