body {
/*font-family: "Trebuchet MS", Tahoma, Arial, Verdana, sans-serif;
*/
}

div#header { 

background: white;
text-align: center;
z-index: 0;

}
div#main { 

background: white;
text-align: left;
z-index: 0;

}

p.open{
position: relative;
left: 2em;
font-size: 0.8em;
width: 80%;
}

p.open:before{
content: 'Open Issue:';
font-weight: bold;

}
p.note{
position: relative;
left: 2em;
font-size: 0.8em;
width: 80%;
}

p.note:before{
content: 'Note:';
font-weight: bold;

}

p.tech{
position: relative;
left: 2em;
font-size: 0.8em;
width: 80%;

}
p.tech:before{
content: 'Technical Note:';
font-weight: bold;
}
table#flowcharts {
text-align: center;
border-spacing: 2em;
}













