body {
/*font-family: "Trebuchet MS", Tahoma, Arial, Verdana, sans-serif;
*/
}

div#header { 

background: white;
text-align: center;
z-index: 0;

}
div#main { 

background: white;
text-align: left;
z-index: 0;

}

p.tech{
position: relative;
left: 2em;


}
















